<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangi guruh yaratish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>➕ Yangi guruh yaratish</h1>
        <p>Guruh nomini kiriting</p>

        <form method="POST">
            <input type="text" name="group_name" placeholder="Masalan: Iyun oyi" class="input-box" required>
            <button type="submit" class="btn">Yaratish</button>
        </form>
    </div>
</body>
</html>